<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    
  </head>
  <body>
  <% name = "Karlie" %> 
  <!--THIS IS HOW I COMMENT. defining a variable-->
  <p><%= "Hello my name is #{name}"%></p>
  </body>
</html>